services:
  backend:
    build: .
    command: uvicorn main:app --host 0.0.0.0 --port 8080 --reload
    ports:
      - "8080:8080"
    volumes:
      - .:/app

  celery_worker:
    build: .
    command: celery -A core.celery_app worker --loglevel=info
    volumes:
      - .:/app
  
  celery_beat:
    build: .
    command: celery -A core.celery_app beat --loglevel=info
    volumes:
      - .:/app

    
  redis:
    image: redis:7

